my_env/
runs/
**/train_process/
**/__pycache__/
**/.idea/
*.jpg
*.jpeg
*.png
data/images/
releases/
*.cache
*.pth
*.onnx
*.xml
*.bin
*.mapping
*.npy
Cfg.yaml
!/assets
!/assets/*
/log/*
!/log/class_id.json
!requirements.txt

